body {
    font-family: "Merriweather", serif;
    color: #394A59;
    background-color: #D8D8D6;
}
h1, h2 {
    font-family: "Oswald", sans-serif;
}
h2 {
    margin: 0.1em
}
header {
    background-image: url("images/header.image.road.jpg");
    background-repeat: no-repeat;
    height: 250px;
    padding: 1.8em;
}
header div {
    background-color: #d8d8d66b;
    padding: 0.8em;
    max-width: 98%;
    width: 25vw;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure {
    margin: 0.3em;
    border-color: #59551B;
    border-width: 3px;
    border-style: solid;
    padding: 0.4vw;
    width: 400px;
    background-color: #ACB3BD;
}
figure img {
    width: 100%;
}
footer {
    clear: both;
}